* {
  margin: 0px;
  padding: 0px;
}

a {
  color: $color-text;
  text-decoration: none;
  &:hover {
    color: $color-light;
  }
  .fade {
    color: $color-fade;
    &:hover {
      color: $color-light;
    }
  }
}

.clearfix {
  @include clearfix;
}

.container {
  width: $width-container;
  margin: 0 auto;
  @include clearfix;
}

html, body {
  font-family: $font-yahei;
  font-size: 14px;
  line-height: 1.42857143;
  color: $color-text;
  background-color: $color-background;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

ul {
  list-style: none;
}

.content {
  @extend .float-left;
  word-break: break-all;
  word-wrap: break-word;
  width: $width-content;
}

.sidebar {
  @extend .float-right;
  word-break: break-all;
  word-wrap: break-word;
  width: $width-sidebar;
}

.common-header {
  @include clearfix;
  margin-bottom: $margin-size;
  .title {
    h3 {
      @extend .float-left;
      font-size: $size-h2;
    }

    .more {
      @extend .float-right;
      color: $color-fade;
      a {
        color: $color-fade;
        @include link-hover;
      }
    }
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 500;
  line-height: 1.1;
}

ul {
  &.list {
    li {
      margin-bottom: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 14px;

      time {
        float: right;
        color: #bbb;
        margin-left: 10px;
      }
    }
  }
}

