$color-white: #ffffff;
$color-background: #f6f6f6;
$color-text: #555;
$color-red: #FF5E52;
$color-blue: #428BCA;
$color-border: #eaeaea;
$color-fade: #999;
$color-fade-dark: #666;
$color-light: #45B6F7;

$width-container: 1200px;
$width-content: 820px;
$width-sidebar: 360px;

$size-h1: 24px;
$size-h2: 20px;
$size-h3: 18px;
$size-h4: 16px;

$border-radius: 4px;

$font-yahei: 'Microsoft Yahei';

$padding-size: 10px;
$margin-size: 10px;
