.widget {
  background: $color-white;
  margin-bottom: 2*$margin-size;

  &.border {
    border: 1px solid $color-border;
    border-radius: $border-radius;
  }

}

@import "widget-block-show";
@import "widget-tag-cloud";
@import "widget-tab-show";
