.widget {
  &.tab-show {
    border: 1px solid $color-border;
    border-radius: $border-radius;

    ul.tab-nav {
      background: #fbfbfb;
      height: 36px;
      line-height: 36px;
      border-bottom: 1px solid $color-border;

      li {
        float: left;
        padding: 0px 2*$padding-size;
        text-align: center;
        color: #999;
        border-right: 1px solid #eaeaea;
        cursor: pointer;

        &.active {
          height: 37px;
          background-color: #fff;
          color: #666;
          font-weight: bold;
          cursor: default;
          display: block;
        }
      }
    }

    ul.tab-body {
      & > li {
        padding: 1.5*$padding-size;
        display: none;
        &.active {
          display: block;
        }
      }

      ul {
        &.list {
          margin-bottom: -10px;
          li {
            font-size: 12px;
          }
        }
      }

    }
  }
}

