.layui-form-item .layui-input-inline {
    width: 500px;
}

.layui-tab-title {
    z-index: 999999999;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

#logo {
    display: block;
    position: absolute;
    padding: 0px 10px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    width: 130px;
    z-index: 998;
    text-align: left;
    color: #bdbdbe;
    background: #2B2E37;
}

#logo:hover {
    color: #009688;
}

#header {
    height: 30px;
}

#header .layui-nav .layui-nav-item {
    line-height: 30px;
}

#header .layui-nav .layui-nav-item a {
    line-height: 30px;
}

#side {
    top: 30px;
    width: 150px;
}

#side .layui-side-scroll {
    width: 170px;
}

#side .layui-side-scroll .layui-nav-tree {
    width: 150px;
}

#main {
    top: 30px;
    left: 150px;
}
